@CHARSET "UTF-8";

fieldset {
	float: left;
	/*width:200px;*/
}

.olPopupCloseBox {
	height: 27px !important;
	right: 4px !important;
	top: 38px !important;
	width: 26px !important;
	background: url("/yuppgis/yuppgis/images/close.png") no-repeat scroll 0
		0 transparent!important;
	cursor: pointer!important;
}