@CHARSET "UTF-8";

.maplayers {
	text-align: left;
}

.maplayers ul {
	margin: 0px;
}

.title {
	background: #ddd;
	font-weight: bold;
}

.value {
	background: #eee;
}

.grid [class *="span"] {
	margin-top: 5px;
	text-align: left;
	padding-left: 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-height: 30px;
	line-height: 30px;
}