@CHARSET "UTF-8";

fieldset {
	float: left;
	/*width:200px;*/
}

.olPopupCloseBox {
	height: 27px !important;
	right: 4px !important;
	top: 38px !important;
	width: 26px !important;
	background: url("/yuppgis/yuppgis/images/close.png") no-repeat scroll 0
		0 transparent!important;
	cursor: pointer!important;
}

.olControlMousePosition {
    position: absolute;
    right: 10px;
    top: 0px;
    height: 15px;
    font-size: 8pt;
    background-color: white
}

.olControlNavToolbar div {
  display:block;
  width:  28px;
  height: 28px;
  top: 300px;
  left: 6px;
  position: relative;
}
.olControlNavToolbar .olControlNavigationItemActive {
  background-image: url("img/panning-hand-on.png");
  background-repeat: no-repeat;
}
.olControlNavToolbar .olControlNavigationItemInactive {
  background-image: url("img/panning-hand-off.png");
  background-repeat: no-repeat;
}