<?xml version="1.0" encoding="UTF-8" ?>
<app>
  <name>geolocalizacion</name>
  <description>Sistema para ubicacion geografica segun su padron.</description>
  <version>0.1</version>
  <langs>es</langs>
  <code></code>
  <tags></tags>
  <site></site>
  <docs></docs>
  <update></update>
  <entry_point>
    <controller>geo</controller>
    <action>index</action>
  </entry_point>
</app>