<?xml version="1.0" encoding="UTF-8" ?>
<app>
  <name>biblioteca</name>
  <description>gestión de libros</description>
  <version>0.1</version>
  <langs>es en</langs>
  <code></code>
  <tags></tags>
  <site></site>
  <docs></docs>
  <update></update>
  <entry_point>
    <controller>libro</controller>
    <action>index</action>
  </entry_point>
</app>
